* {
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

#main_container {
    height: 100% !important;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.app {
    flex-grow: 1;
    overflow-y: auto;
}

#mainmenu {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    padding: 0 2em;
    justify-content: left;
    -webkit-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 1);
    box-shadow: 0 0 10px 0 rgba(50, 50, 50, 1);
    background: white;
}

#mainmenu a {
    padding: 2em;
    /*border: 1px solid black;*/
    text-decoration: none;
    color: black;
    cursor: pointer;
    background: white;
    z-index: 1;
}

#mainmenu a.active {
    font-weight: bold;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 0 7px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow: 0 0 7px 0 rgba(50, 50, 50, 1);
    box-shadow: 0 0 7px 0 rgba(50, 50, 50, 1);
    z-index: 2;
}

#mainmenu a:hover {
    -webkit-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 1);
    box-shadow: 0 0 10px 0 rgba(50, 50, 50, 1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    transform-origin: top;
    z-index: 3;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.task {
    -webkit-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 1);
    box-shadow: 0 0 10px 0 rgba(50, 50, 50, 1);
    margin: 20px 40px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    max-height: 30em;
}

.task:first-child {
    margin-top: 30px;
}

.task > * {
    align-self: stretch;
}

.task .controls, .task .controls * {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.task .controls a {
    justify-content: flex-start;
}

.task .controls img {
    margin: 5px 20px 5px 5px;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid #592b4b;
}

.task .controls img:hover {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
    border-color: white;
}

.task .controls .material-icons {
    margin: 10px;
    cursor: pointer;
}

.task .controls .material-icons:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

.task .admintext {
    margin-top: 50px;
    width: calc(100% + 4em);
    -webkit-transform: translateX(-2em);
    -moz-transform: translateX(-2em);
    -ms-transform: translateX(-2em);
    -o-transform: translateX(-2em);
    transform: translateX(-2em);
}

.task .admintext textarea {
    width: calc(100% - 10px);
    padding: 5px;
    height: 15em;
    border: none;
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
}

.short0 {
    height: 0 !important;
    display: none;
}

/*

.task .admintext textarea.initialized {
    -webkit-animation: grow 0.5s linear;
    -o-animation: grow 0.5s linear;
    animation: grow 0.5s linear;
}
*/

.task .usertext {
    margin: 30px 10px 10px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-family: "Roboto Mono", sans-serif;
    white-space: pre-wrap;
    overflow-y: auto;
    overflow-x: visible;
}

.task {
    position: relative;
}

.task .timestamp {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

/* Animations */

/*
@keyframes grow {
    from {
        !*-webkit-transform: scaleY(0.01);*!
        !*-moz-transform: scaleY(0.01);*!
        !*-ms-transform: scaleY(0.01);*!
        !*-o-transform: scaleY(0.01);*!
        !*transform: scaleY(0.01);*!
        !*transform-origin: top;*!
        height: 0 !important;
    }
    to {
        height: 15em;
    }
}*/

#load_btn {
    padding: 1em 2em;
    cursor: pointer;
    margin: 20px auto;
    width: 10em;
    text-align: center;
}

#load_btn:hover {
    background: #e9e9e9;
}

/*  Stats  */

.title {
    font-weight: bold;
    font-size: 1.5em;
}

.diagram {
    border: 1px solid black;
    padding: 20px 0;
    margin: 20px 0;
}

.diagram > div {
    margin: 10px 0;
    display: flex;
    padding-right: 3em;
}

.diagram > div > * {
    flex-grow: 0;
    flex-shrink: 0;
}

.line {
    background: #000;
    height: 2em;
    display: inline-block;
    transition-duration: 1s;
}

.cnt {
    display: inline-block;
    vertical-align: middle;
    margin: auto 10px;
}

.refresh_btn {
    position: absolute;
    right: 36px;
    bottom: 20px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
}

.center {
    width: 100%;
    text-align: center;
}

.center input {
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    width: calc(55em / 1.5);
    max-width: 90%;
    margin: 40px auto;
    margin-bottom: 20px;
    font-size: 1.5em;
    height: 1em;
    padding: 0.5em;
}

.center input:active {
    border-color: #5faee3;
}

#users {
    text-align: center;
}

.user {
    width: 50em;
    max-width: 90%;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
}

.user > * {
    margin: 0 0.5em;
}

.user img {
    height: 2em;
    flex-shrink: 0;
}

.user a {

}

#calls td, #calls th {
    padding: 5px;
    border: 1px solid black;
    display: table-cell !important;
}

#calls td button {
    display: inline-block !important;
}

#calls table {
    border-collapse: collapse;
}

#calls .task {
    max-height: unset;
}

.config > input {
    width: 20em;
    display: block;
}

.config > * {
    margin: 10px;
}

#select {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#select td, #select th {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

#select > div {
    padding: 10px;
    -webkit-box-shadow: 0px 0px 6px #000;
    -moz-box-shadow: 0px 0px 6px #000;
    box-shadow: 0px 0px 6px #000;
    margin: 40px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
}

#dot {
    flex-grow: 1;
}

#uids {
    overflow-y: auto;
}

#select > #filters {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 0;
    overflow: visible;
    display: flex;
    flex-direction: column;
}

#filters button {
    margin: 10px 2px;
    padding: 0.8em;
    background: #592b4b;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.67);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.67);
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 1em;
}

#filters button:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#edit .task {
    max-height: unset !important;
}

@media screen and (max-width: 768px) {
    #mainmenu {
        padding-left: 30px;
        padding-right: 0;
        flex-direction: column;
        height: calc((20px + 1em) * 2);
        overflow-y: auto;
    }

    #mainmenu > a {
        padding: 10px;
        margin: 0;
    }

    #mainmenu > a:hover {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        -webkit-box-shadow: inherit;
        -moz-box-shadow: inherit;
        box-shadow: inherit;
    }

    #mainmenu > a.active {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }

    .task {
        margin: 20px 5px;
    }

    .controls_btns {
        /*flex-wrap: wrap;*/
    }

    #calls table {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }

    #calls tr {
        display: flex;
        flex-direction: column;
        -webkit-box-shadow: 0 0 4px #000;
        -moz-box-shadow: 0 0 4px #000;
        box-shadow: 0 0 4px #000;
        margin-bottom: 15px;
        text-align: center;
        width: 100%;
    }

    #calls th {
        display: none !important;
    }

    #calls td {
        border: none !important;
    }

    #calls td.controls {
        display: flex;
        /*flex-direction: column !important;*/
        align-items: stretch !important;
    }

    #calls td.controls button {
        margin: 5px;
        padding: 5px;
    }
}

.warning {
    color: darkred;
    font-weight: bold;
}

.button {
    cursor: pointer;
    background: #592b4b;
    -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.6);
    color: white;
    font-weight: bold;
    width: auto;
    align-self: left;
    margin: 15px 0;
    padding: 0.7em;
}

.button:active {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
}

.blocker {
    margin: 15px 0 10px;
}

.switcher__input {
    display: none;
}

.switcher__input:checked + .switcher__label {
    color: #000;
}

.switcher__input:checked + .switcher__label:before {
    background-color: #38cae5;
}

.switcher__input:checked + .switcher__label:after {
    transform: translateX(23px);
}

.switcher__input:checked + .switcher__label:active:after {
    transform: translateX(12px);
}

.switcher__input:checked + .switcher__label:active:before {
    background-color: #b4effa;
}

.switcher__label {
    display: inline-block;
    vertical-align: top;
    padding-left: 50px;

    font-size: 14px;
    color: #ccc;
    cursor: pointer;

    position: relative;

    transition: color .1s linear;
}

.switcher__label:before {
    content: "";
    display: block;
    width: 45px;
    height: 22px;

    background-color: #e5e5e5;
    border-radius: 10px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    transition: background-color .1s linear;
}

.switcher__label:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;

    background-color: #fff;
    border-radius: 50%;

    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 2;

    transition: transform .1s linear;
}

.switcher__label:active:after {
    transform: translateX(12px);
}

.switcher__label:active:before {
    background-color: #b4effa;
}

.switcher__text {
    line-height: 22px;
}

.activeButton {
    -webkit-transform: scale(1.5) !important;
    -moz-transform: scale(1.5) !important;
    -ms-transform: scale(1.5) !important;
    -o-transform: scale(1.5) !important;
    transform: scale(1.5) !important;
    font-weight: bold !important;
}

.ok-btn.activeButton {
    color: green;
}

.not-ok-btn.activeButton {
    color: red;
}