@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

* {
    font-family: "Roboto Light", sans-serif;
    /*font-size: x-large;*/
}

body, html {
    height: 100%;
    /*width: 100%;*/
    padding: 0;
    margin: 0;
    text-align: center;
}

html {
    background: url(/res/new_bg_bw.jpg) 50% 0 fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

#main_cont {
    padding-top: 4%;
}

img#logo {
    margin-top: 1em;
    height: 6em;
}

#text {
    margin: 2em 5px;
    font-size: 150%;
}

#iframe {
    /*width: 800px;*/
    /*height: 600px;*/
    margin-top: 3em;
}

.button div {
    display: inline-block;
    height: 100%;
}


.button {
    padding: 0.3em 1em;
    display: inline-block;
    background: #ff6600;
    color: white;
    /*margin: auto;*/
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);

    text-transform: uppercase;
    text-decoration: none;

    transition: all 0.1s;

    font-size: 40px;
    /*width: 10em;*/
    margin: auto;
    margin-top: 40px;
    margin-bottom: 80px;
}

.button:hover {
    filter: brightness(98%);

    -webkit-box-shadow: 0 0 15px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow: 0 0 15px 0 rgba(50, 50, 50, 1);
    box-shadow: 0 0 15px 0 rgba(50, 50, 50, 1);

    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.button:active {
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
    /*-webkit-transform: scale(1);*/
    /*-moz-transform: scale(1);*/
    /*-ms-transform: scale(1);*/
    /*-o-transform: scale(1);*/
    transition: all 0.01s;
    transform: none !important;
}

@media screen and (max-width: 768px) {
    iframe {
        width: 90%;
        height: complex;
    }

    .button {
        width: 85%;
        font-size: 1.75rem;
        padding: 13px 5px;
    }
}
