@import url('https://fonts.googleapis.com/css?family=Forum|Open+Sans');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    background: url(/res/new_bg.jpg) 50% 0 fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Open Sans", sans-serif;
}

#container {
    text-align: center;
    padding-top: 1%;
}

img#logo {
    margin-top: 1em;
    height: 6em;
}

div#text {
    margin: auto;
    width: 60%;
    font-size: 3rem;
    font-family: "Forum", sans-serif;
    text-transform: uppercase;
    background: url(/res/pics/h2_.png);
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    /*font-weight: bold;*/
    color: #1b0d1e;
}

div#label {
    font-size: 2rem;
    color: black;
    /*font-weight: bold;*/
    margin: auto;
    margin-top: 40px;
    width: 40%;
}

.button img {
    height: 1em;
    vertical-align: middle;
    /*margin-left: 1.5em;*/
}

.button div {
    display: inline-block;
    height: 100%;
}


.button {
    padding: 10px 20px;
    display: inline-block;
    background: #ff6600;
    color: white;
    /*margin: auto;*/
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);

    text-transform: uppercase;
    text-decoration: none;

    transition: all 0.1s;

    font-size: 40px;
    width: 10em;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

.button:hover {
    filter: brightness(98%);

    -webkit-box-shadow: 0 0 15px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow: 0 0 15px 0 rgba(50, 50, 50, 1);
    box-shadow: 0 0 15px 0 rgba(50, 50, 50, 1);

    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.button:active {
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
    /*-webkit-transform: scale(1);*/
    /*-moz-transform: scale(1);*/
    /*-ms-transform: scale(1);*/
    /*-o-transform: scale(1);*/
    transition: all 0.01s;
    transform: none !important;
}

@media screen and (max-width: 768px) {
    div#text {
        width: 95%;
        background: none;
        font-size: 2rem;
        padding: 1em 10px 0;
    }

    div#text > br {
        display: none;
    }

    div#label {
        width: 95%;
        padding: 10px 10px;
        font-size: 1.5rem;
        margin-top: 10px;
    }

    .button {
        width: 85%;
        font-size: 1.75rem;
        padding: 13px 5px;
    }
}

#cant_login {
    cursor: pointer;
    margin-bottom: 0.5em;
}

#email_login {
    margin-bottom: 3em;
    display: block;
    text-decoration: none !important;
    color: inherit;
    cursor: pointer;
}