@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600|Open+Sans:300,350,400');

* {
    font-family: "Open Sans", sans-serif;
    transition: all 0.2s;
}

.hidden {
    display: none !important;
}

html, body {
    margin: 0;
    padding: 0;
    --head_height: 120px;
    width: 100%;
    height: 100%;
}

#main-container {
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    display: flex;
    flex-direction: row;
}

#user, #header {
    height: var(--head_height);
    padding: 20px;
}

#left_half {
    width: 20rem;
    background: url(/res/mur_bw.png) 0 0 fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: auto;
    overflow-x: hidden;
}

#right_half {
    width: calc(100% - 20rem);
    --bg-color: #f5f5ff;
    background: var(--bg-color);
}

#user {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
}

#user > * {
    margin: auto 10px;
}

#avatar {
    height: calc(1.5 * 1.5em * 2);
    border-radius: 100%;
    margin-left: 0;
    border: 3px solid #592b4b;
}

#ribbon {
    height: calc(1.5 * 1.5em);
    position: absolute;
    top: 0;
    right: 0;
    transform: translate3d(10px, -10px, 0);
}

#pictures {
    position: relative;
}

#username {
    font-size: 1.5em;
    /*font-weight: bold;*/
}

#header {
    display: flex;
    flex-direction: row;
    /*width: 100%;*/
    border-bottom: 1px solid grey;
}

#title {
    margin: auto;
}

#header img {
    height: calc(var(--head_height) - 16px);
    width: auto;
    margin: auto auto auto auto;
    /*margin-left: 20px;*/
    /*margin-right: auto;*/
}

#header div#buttondiv {
    text-align: right;
    vertical-align: middle;
    display: inline-block;
    margin: auto 20px auto;
}

#buttondiv div {
    margin-top: 15px;
    /*width: ;*/
}

.button {
    padding: 10px 20px;
    display: inline-block;
    background: #ff6600;
    color: white;
    /*margin: auto;*/
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);

    text-transform: uppercase;
    text-decoration: none;

    transition: all 0.1s;
}

.button:hover {
    filter: brightness(98%);

    -webkit-box-shadow: 0 0 15px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow: 0 0 15px 0 rgba(50, 50, 50, 1);
    box-shadow: 0 0 15px 0 rgba(50, 50, 50, 1);
}

.button:active {
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
    /*-webkit-transform: scale(1);*/
    /*-moz-transform: scale(1);*/
    /*-ms-transform: scale(1);*/
    /*-o-transform: scale(1);*/
    transition: all 0.01s;
    transform: none !important;
}

#tasks {
    width: 100%;
    /*height: calc(100% - var(--head_height));*/
    /*overflow-y: auto;*/
    overflow-x: hidden;
    padding-bottom: 20px;
}

.task {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;

    font-size: 1.3em;

    cursor: not-allowed;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;

    transition-timing-function: cubic-bezier(0.73, 0, 0.1, 2.15);
}

.task.lock {
    filter: opacity(50%);
}

.task, .task * {
    font-weight: 300;
    color: black;
    text-decoration: none !important;
}

.task.active * {
    font-weight: bold;
}

.task.available:hover, .task.checking:hover, .task.done:hover, .task.rejected:hover, .clickable:hover, .button:hover {
    cursor: pointer;
    transform: translateX(3px) scale(1.05);
}

.task.active {
    transform: scale(1.02);
}

.task .icon {
    /*text-align: center;*/
    margin-left: auto;
    margin-right: 5px;
}

#task, #quiz {
    height: calc(100% - var(--head_height) - 81px);
    overflow-y: auto;
    padding: 20px;
    padding-left: 30px;
}

#task > div {
    margin-top: 0;
    margin-bottom: 0;
}

#task h2, #quiz h2 {
    margin: 0;
}

.YT {
    width: 600px !important;
}

/* quiz  */

#quiz {
    display: flex;
    flex-direction: column;
}

#quiz_frame {
    margin: 10px 0;
    width: 100%;
    height: 100%;
}

/* /quiz */

pre {
    line-height: 1.3em;
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    /*white-space: -pre-wrap;      !* Opera 4-6 *!*/
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

label {
    display: block;
    margin: 10px;
    margin-left: 0;
    font-weight: 500;
    font-family: "Roboto Light", sans-serif;
}

#admin_comment {
    /*margin-top: 10px;*/
    /*margin-bottom: -10px;*/
    color: red;
    /*font-size: 1em;*/
}

#admin_comment > div {
    font-size: 1.2em;
    margin-left: calc(8em / 1.2);
}

#textarea_div {
    margin-top: -10px;
}

div#task[data-state="2"] #admin_comment {
    color: darkgreen;
}

#button2 {
    position: fixed;
    top: 40%;
    right: -1px;
}

#button2:hover {
    transform: rotateY(30deg);
    transform-origin: right;
    text-shadow: 0 0 3px black;
}

#button3 {
    position: fixed;
    top: calc(40% + 2 * 10px);
    right: -1px;
}

#button3:hover {
    transform: rotateY(30deg);
    transform-origin: right;
    text-shadow: 0 0 3px black;
}

#button2 img, #button3 img {
    height: 130px;
    width: auto;
}

.upload {
    width: 12em;
    margin-right: auto;
}

#submitted_file {
    display: block;
}

@media screen and (max-width: 768px) {
    #left_half {
        min-height: 100% !important;
        max-height: unset !important;
    }

    #quiz {
        overflow-y: unset;
    }

    #quiz_frame {
        min-height: 1000px;
    }

    .task.active {
        color: grey;
    }

    #tasks {
        overflow-y: unset;
    }

    #title {
        display: none;
    }

    #header {
        height: auto;
    }

    #buttondiv {
        text-align: center !important;
        margin: 0 !important;
    }

    #buttondiv > * {
        display: inline-block;
        vertical-align: middle;
        margin: auto 10px;
    }

    #main-container {
        flex-direction: column;
    }

    #left_half, #right_half {
        width: 100%;
    }

    * {
        max-width: 100%;
    }

    .jconfirm {
        display: none;
    }

}

iframe.YT {
    display: block;
    margin: 1em 0;
    width: 100%;
    height: 100%;
    min-height: 300px;
}

hr {
    margin-top: 2em;
    border-color: black;
}

.filelink {
    display: block;
    vertical-align: middle;
    padding: auto;
}

.filelink img {
    height: 4em;
}

.filelink div {
    display: inline-block;
    vertical-align: top;
    margin: 1.5em;
}

#bant {
    position: absolute;
    height: 35px;
    top: -28px;
    right: 0;
    left: 0;
    margin: 0 auto;
}

#avatardiv {
    position: relative;
}

#task_description {
    margin-top: 20px;
}

#task_description > div, .block_div {
    margin: 0 15px 0 10px;
    border-left: 1px solid black;
    white-space: normal;
}

#task_description > div > div, .block_div > div {
    margin-left: 8em;
    white-space: pre-line;
    padding: 20px;
    background: white;
    -webkit-box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.46);
    box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.46);
}

#task_description > div > name, .block_div > name {
    display: block;
    background: var(--bg-color);
    position: relative;
    right: 20px;
    top: 40px;
    max-width: 8em;
}

#task_description > div > name, .block_div > name *, .block_div > name {
    font-weight: bold;
}

#file_div, #file_div * {
    white-space: normal;
}

textarea {
    width: 100%;
}

@media screen and (max-width: 768px) {
    #task_description > div > div, .block_div > div {
        margin-top: 5em;
        margin-left: calc(-23px);
    }
}

ol {
    white-space: unset;
}