@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Open+Sans');

* {
    font-family: "Open Sans", sans-serif;
}

html, body {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
}

.hidden {
    display: none !important;
}

/*  -- HEADER --  */

#header {
    width: 100%;
    padding: 0;
    position: fixed;
    height: 85px;
    -webkit-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 1);
    box-shadow: 0 0 10px 0 rgba(50, 50, 50, 1);
    background-image: url(/res/main_bg.jpg);
    z-index: 10000;
}

#header * {
    color: white;
}

#header > #title img {
    margin-left: 30px;
    /*font-family: "Roboto Light", sans-serif;*/
    margin-top: 15px;
    height: 50px;
    /*width: 50px;*/
}

#header > #user {
    position: absolute;
    display: block;
    height: 50px;
    right: 30px;
    top: 17px;
}

#header > #user b {
    top: -40%;
    margin-left: 10px;
    position: relative;
    font-family: "Roboto Light", sans-serif;
}

#header > #user > img {
    border-radius: 50%;
}


/*  -- BUTTON --  */

.button {
    display: inline-block;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ee8f51), color-stop(1, #ff6600));
    background: -moz-linear-gradient(top, #ee8f51 5%, #ff6600 100%);
    background: -webkit-linear-gradient(top, #ee8f51 5%, #ff6600 100%);
    background: -o-linear-gradient(top, #ee8f51 5%, #ff6600 100%);
    background: -ms-linear-gradient(top, #ee8f51 5%, #ff6600 100%);
    background: linear-gradient(to bottom, #ee8f51 5%, #ff6600 100%);
    border: 1px solid #ff6600;
    border-radius: 5px;
    padding: 10px 12px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.button:hover {
    filter: brightness(95%);
}

.button:active {
    -webkit-transform: translate(1px, 4px);
    -moz-transform: translate(1px, 4px);
    -ms-transform: translate(1px, 4px);
    -o-transform: translate(1px, 4px);
    transform: translate(1px, 4px);
}

/*.button {
    -moz-box-shadow: 3px 4px 0px 0px #1564ad;
    -webkit-box-shadow: 3px 4px 0px 0px #1564ad;
    box-shadow: 3px 4px 0px 0px #1564ad;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
    background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
    background-color:#79bbff;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #337bc4;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    padding:10px 12px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;

}
.button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
    background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
    background-color:#378de5;
}
.button:active {
    top: 93px;
}*/

#button1 {
    position: absolute;
    right: 40px;
    top: 30px;
}

#button2 {
    position: absolute;
    right: 20px;
    bottom: 5px;
}

/*  -- MAIN --  */

#main-container {
    width: 100%;
    height: calc(100% - 85px);
    padding-top: 85px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#tasks {
    width: 25%;
    /*padding-left: 15px;*/
    overflow-y: auto;
    background-image: url(/res/main_bg.jpg);
}

.task {
    /*width: 70%;*/
    padding: 20px 15px;
    transition: all linear 0.5s;
    position: relative;
    cursor: pointer;
    background-image: url(/res/main_bg.jpg);
    color: white;
}

/*.task:nth-child(even) {
    background: #f0f8ff;
}*/

.task > span {
    font-family: "Roboto Light", sans-serif;
    font-size: 23px;
}

.task:hover {
    -webkit-box-shadow: 5px 0 5px -1px #888 inset;
    box-shadow: 5px 0 5px -1px #888 inset;
    filter: brightness(120%);
}

.task i.fa {
    position: absolute;
    font-size: 1.1rem;
    right: 15px;
}

.task.lock i.fa {
    color: #888888;
}

.task.lock {
    cursor: not-allowed;
}

.task.done i.fa {
    color: green;
}

.task.rejected i.fa {
    color: red;
}

.task.checking i.fa {
    color: yellowgreen;
}


/* -- TASK -- */

#task {
    width: 75%;
    padding: 0 20px 20px;
    border-left: 1px solid grey;
    height: 100%;
    overflow-y: auto;
    position: relative;
    /*background: rgba(111, 67, 102, 0.38);*/
}

pre {
    line-height: 1.3em;
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

#task_files div {
    margin-top: 8px;
}

#admin_comment {
    color: #dc1427;
    margin-top: 20px;
    /*font-size: 150%;*/
}

#task[data-state="-1"] #submit, #task[data-state="1"] #submit, #task[data-state="2"] #submit {
    display: none !important;
}

/*  --  FORM  --  */

form {
    margin-top: 10px;
    margin-bottom: 20px;
}

#upload_file {
    display: block;
    margin-top: 10px;
    margin-bottom: 13px;
}

#submitted_file {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
