@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

* {
    font-family: Roboto, sans-serif;
    text-decoration: none;
}

html, body {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    width: 100%;
}

.hidden {
    display: none !important;
}

#header {
    width: 100%;
    padding: 0;
    position: fixed;
    height: 70px;
    -webkit-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 1);
    box-shadow: 0 0 10px 0 rgba(50, 50, 50, 1);
    background: white;
    z-index: 10000;
}

.link {
    display: inline-block;
    padding: 25px;
}

.link:hover {
    background: #eeeeee;
    cursor: pointer;
}

/*#header > .link {*/
/*position: absolute;*/
/*display: block;*/
/*height: 50px;*/
/*right: 30px;*/
/*top: 10px;*/
/*}*/

/*#header .link {*/
/*top: -40%;*/
/*margin-left: 10px;*/
/*position: relative;*/
/*font-family: "Roboto Light", sans-serif;*/
/*}*/

#main_container {
    width: calc(100% - 5px);
    height: calc(100% - 75px);
    padding-top: 75px;
    padding-left: 5px;
    /*display: flex;*/
    /*flex-direction: row;*/
}

#main_container > * {
    padding: 15px;
}

#settings label, #settings input, #settings textarea {
    display: block;
    margin-top: 10px;
    width: 100em;
}

input[type="submit"], button {
    margin-top: 15px;
    width: auto !important;
}

#backup > * {
    display: block;
    margin: 10px 0px;
}

#editing input[type="text"], #editing textarea {
    width: calc(100% - 5px);
}

form span {
    display: block;
    margin-top: 15px;
}

.files {
    margin-top: 15px;
}

/*  --  CHECKING  --  */

#checking {
    max-height: calc(100% - 20px - 3em);
    overflow-y: auto;
}

table {
    border-collapse: collapse;
}

.unit > *, table td, table th {
    border: 1px solid black;
}

td, th {
    vertical-align: top;
    padding: 5px;
}

td.text > span {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    display: inline-block;
    /*padding: 5px;*/
    /*margin: 0;*/
    /*height: 100%;*/
}

td.text {
    width: 60% !important;
}

#pages {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 20em;
    text-align: center;
}

.makeBold {
    display: none;
}

button {
    margin-top: 0;
    margin-bottom: 5px;
}
