<form>
    <div class="group">
        <input type="text" title="Введите ваше имя" id="new_name" name="new_name" required>
        <span class="bar"></span>
        <label>Имя</label>
    </div>
    <div id="required_name">
        Поле должно быть заполнено.
    </div>
    <div id="exists">
        Аккаунт с таким адресом уже зарегистрирован.
    </div>
</form>

<style>
    #required_name, #exists {
        color: darkred;
        display: none;
    }

    form {
        padding-top: 40px;
    }

    /* form starting stylings ------------------------------- */
    .group {
        position: relative;
        margin-bottom: 30px;
    }

    input {
        font-size: 16px;
        padding: 10px;
        display: block;
        width: 300px;
        border: none;
        border-bottom: 1px solid #ccc;
    }

    input:focus {
        outline: none;
    }

    /* LABEL ======================================= */
    label {
        color: #999;
        font-size: 18px;
        position: absolute;
        pointer-events: none;
        left: 10px;
        top: 15px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    /* active state */
    input:focus ~ label, input:valid ~ label {
        top: -15px;
        font-size: 14px;
        color: #5264AE;
    }

    /* BOTTOM BARS ================================= */
    .bar {
        position: relative;
        display: block;
        width: 320px;
    }

    .bar:before, .bar:after {
        content: "";
        height: 2px;
        width: 0;
        bottom: 0;
        position: absolute;
        background: #5264AE;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

    /* active state */
    input:focus ~ .bar:before,
    input:focus ~ .bar:after {
        width: 50%;
    }
</style>